<!doctype html>
<html lang="en" ng-app="pantryItemApp">
<head>
  <meta charset="utf-8">
  <title>App</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
</head>
<body ng-controller="ItemManagerCtrl">

    <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->

        Search: <input ng-model="query">
		Sort by:
<select ng-model="orderProp">
  <option value="itemName">Alphabetical</option>
  <option value="company">Company</option>
  <option value="dateEntered">Date Entered</option>
  <!--<option value="expirationDate">Expiration Date</option>-->
</select>

      </div>
      <div class="col-md-10">
        <!--Body content-->

		<ul class="items">
    <li ng-repeat="item in items | filter:query | orderBy:orderProp">
      <span>{{item.itemName}}</span>
      <p>{{item.upc}}</p>
	  <p>{{item.company}}</p>
	  <p>{{item.dateEntered}}</p>
    </li>
  </ul>
  <p>Total number of items: {{items.length}}</p>
  <p>Hello, {{name}}!</p>
		
        
      </div>
    </div>
  </div>
<pre>{{phones | filter:query | orderBy:orderProp | json}}</pre>
</body>
</html>
